/* CARD HEADER */
.header-wrapper {
	display: flex;
	justify-content: space-between;
}
.expand-icon {
	flex-basis: 50px;
	flex-shrink: 0;
	/* margin: auto 0; */
}
.place-wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.place-wrapper {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
.place-title {
	text-align: left;
	font-weight: 400;
}
.title-wrapper {
	display: flex;
}
.title-text {
  margin-left: 5px;
}
.place-desc {
	text-align: left;
  padding-left: 54px;
	color: #686868;
	font-size: .8em;
	font-weight: 300;
}

/* CARD REVEAL */
.content-wrapper {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
.amenities-sect {
	margin-left: 50px;
}
.chamber-wrapper {
	display: flex;
}
.chamber-text {
  font-size: .4em;
  line-height: 12px;
  color: blue;
}
.address-sect {
	text-align: left;
  margin-left: 6px;
}
.address-text {
	font-size: .9em;
}
.phone-text {
	font-size: .9em;
}
.yesOrNo-sect {
	display: flex;
	justify-content: space-between;
}
.yesOrNo-question {
	font-weight: 400;
	font-size: .8em;
	color: #606060;
	text-align: left;
}
.social-sect {
	display: flex;
	align-content: flex-start;
}
.social-icon {
	padding-right: 5px;
}

/* Styling for Conidtional Rendering of Chamber Icon */
.icon-spacer {
	display: flex;
  padding-top: 3px;
  justify-content: center;
  width: 50px;
}
.spacer {
  padding-left: 50px;
}

/* Media Queries for Tablet */
@media screen and (min-width: 600px) {
	.place-wrapper {
		flex-direction: row;
	}
	.place-title {
		flex-grow: 1;
	}
	.place-desc {
		flex-basis: 200px;
    padding-left: 0;
		flex-shrink: 0;
	}
	.content-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}
	.amenities-sect {
		flex-basis: 250px;
		flex-shrink: 0;
	}
}

